<?xml version="1.0"?>
<robot name="block_2">
  <link name="block_2_base_link">
    <contact>
      <lateral_friction value="1.0"/>
      <spinning_friction value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1000"/>
      <inertia ixx="100" ixy="100" ixz="100" iyy="100" iyz="100" izz="100"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.6 1.5 0.55"/>
      </geometry>
      <material name="blockmat">
        <color rgba="0.1 0.7 0.1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.6 1.5 0.55"/>
      </geometry>
    </collision>
  </link>
</robot>
